@model EmporioUP.Models.Funcionario

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do funcionário</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            Código do funcionário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_funcionario)
        </dd>
        <br>
        <dt>
            Nome do funcionário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <br>
        <dt>
            E-mail do funcionário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<hr />
<button type="submit" class="btn btn-default" style="border-color:steelblue;">
    <i class="glyphicon glyphicon-chevron-left" style="color:steelblue;"></i>
    @Html.ActionLink("Voltar à lista de funcionários", "Funcionarios")
</button>

@section scripts{
    <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
}
